<!DOCTYPE html>
<html lang="en">
	<head>
    	<!-- 
    	Boxer Template
    	http://www.templatemo.com/tm-446-boxer
    	-->
		<meta charset="utf-8">
		<title>Sound Analyzer Home</title>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="keywords" content="">
		<meta name="description" content="">

		<!-- animate css -->
		<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/animate.min.css') }}">
		<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/bootstrap.min.css') }}">
		<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/font-awesome.min.css') }}">
		<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/templatemo-style.css') }}">
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
		<!-- google font -->
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,700,800' rel='stylesheet' type='text/css'>

		<script type="text/javascript">
		$(document).ready(function(){
  $("input[name$='test-data']").click(function(){
  var radio_value = $(this).val();
  document.write(radio_value)
  if(radio_value=="ECG-TESTER") {
	document.getElementById('ifdemo').style.display = 'none';
	document.getElementById('ifdata').style.display = 'block';
    
  }
  });
});


function myFunction() {
  var x = document.getElementById("myDIV");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
  var other_x = document.getElementById("myDIV-demo");
  other_x.style.display = "none";
}

</script>

	</head>
	<body>
		<!-- start preloader -->
		<div class="preloader">
			<div class="sk-spinner sk-spinner-rotating-plane"></div>
    	 </div>
		<!-- end preloader -->
		<!-- start navigation -->
		<nav class="navbar navbar-default navbar-fixed-top templatemo-nav" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="icon icon-bar"></span>
						<span class="icon icon-bar"></span>
						<span class="icon icon-bar"></span>
					</button>
					<a href="#" class="navbar-brand">Sound Analyzer</a>
				</div>
				<div class="collapse navbar-collapse">
					<ul class="nav navbar-nav navbar-right text-uppercase">
						<li><a href="#home">Home</a></li>
						<li><a href="#analyze-samples">Analyze-Now</a></li>
						<li><a href="#data-info">Data</a></li>
						<li><a href="#download">Features</a></li>
						<li><a href="#contact">Contact</a></li>
					</ul>
				</div>
			</div>
		</nav>
		<!-- end navigation -->
		<!-- start home -->
		<section id="home">
			<div class="overlay">
				<div class="container">
					<div class="row">
						<div class="col-md-1"></div>
						<div class="col-md-10 wow fadeIn" data-wow-delay="0.3s">
							<h1 class="text-upper">AI Based Sound Check</h1>
							<p class="tm-white">Sound-Analyzer is a AI based app to classify vulnerabilites level. </p>
							<img src="/static/images/istockphoto.jpg" class="img-responsive" alt="home img">
							
							<div class="w3-container">
									<a href="#analyze-samples"  class="w3-button w3-green" style="text-decoration:none;font-weight:bold">TEST-NOW</a>
							</div>

							
						</div>
						
						<div class="col-md-1"></div>
					</div>
				</div>
			</div>
		</section>
		<!-- end home -->
		<!-- start divider -->
		<section id="divider">
			<div class="container">
				<div class="row">
					<div class="col-md-4 wow fadeInUp templatemo-box" data-wow-delay="0.3s">
						
						<i class="fa fa-users" ></i>
						<h3 class="text-uppercase">Identifying criminals</h3>
						<p>Criminals and the type of the situation is analyzed by the voices and sounds.
						This system can be used for recognition of a threatnening or non threatning situation.</p>
					</div>
					<div class="col-md-4 wow fadeInUp templatemo-box" data-wow-delay="0.3s">
						
						<i class="fa fa-plug" ></i>
						<h3 class="text-uppercase">How to Use?</h3>
						<p>Simply click the TEST NOW button and upload a voice/sound track. System will run it
						through the model and gives the final result as the situation is normal or not.</p>
					</div>
					<div class="col-md-4 wow fadeInUp templatemo-box" data-wow-delay="0.3s">
							<i class="fa fa-cogs"></i>
						<h3 class="text-uppercase">What is Audio Analyzing?</h3>
						<p>Audio Analysis is used to determine the quality of an audio sample. 
						The quality rating returned is based on an analysis of gain and 
						signal-to-noise ratio. Poor speech recognition can result from poor
						 audio quality. Poor audio quality is often the result of ambient or
						  background noise.</p>
					</div>
				</div>
			</div>
		</section>
		<!-- end divider -->

		<!-- start analyze-samples -->
		<section id="analyze-samples">
			<div class="container">
				<div class="row">
					<div class="col-md-6 wow fadeInLeft" data-wow-delay="0.6s">
						<h2 class="text-uppercase">Analyze Sound File</h2>
						<p>Use the Analyze-Now button to test the sound file you have.The input must be either mp3, or wav extension.<br>
							<br>
								
						<button onclick="myFunction()" class="w3-btn w3-black">Analyze-Now</button>

								  <div id="myDIV" style="display:none">
									<div class = "UploadData" >
										<form action = "http://{{hostname|safe}}:{{port|safe}}/uploader" method = "POST"
											 enctype = "multipart/form-data" >
											 <!--h2 class="file-upload-heading">Upload the training data</h2-->
											 <br>
											<input type = "file" name = "file" />
										
											<br>
											 <input type = "submit"  class="w3-button w3-green"/>
										
										  </form>
									</div>
								  </div>
								  <br><br><br>

					</div>
						<div class="col-md-6 wow fadeInRight" style="margin-top:70px;" data-wow-delay="0.6s">
							<img src="/static/images/audio.gif" class="img-responsive" alt="feature img">
						</div>
				</div>
			</div>	
		</section>
		<!-- end analyze-samples -->

		

		<!-- start data-info -->
		<section id="data-info" style="margin-top:50px;">
			<div class="container">
				<div class="row">
					<div class="col-md-12 wow bounceIn">
						<h2 class="text-uppercase">DATA</h2>
						<p>How will use data to ideantify sounds/ voices</p>
						
						<p><i class="fa fa-database"></i><strong> PhysioNet MIT-BIH Arrhythmia: </strong>Consists of ECG recordings from 47 different subjects recorded at the sampling rate of 360Hz.
							Each beat is annotated by at least two cardiologists.The beat classifications are in accordance with Association for the Advancement
							of Medical Instrumentation (AAMI) EC57 standard.</p>
						<p><i class="fa fa-database"></i><strong> PTB Diagnostic: </strong>This dataset consists of ECG records from
							290 subjects: 148 diagnosed as MI , 52 healthy control, and	the rest are diagnosed with 7 different disease. Each record contains ECG signals from 12 leads sampled at the frequency
							of 1000Hz. The model uses only ECG lead II.</p>
					</div>
					
				</div>
			</div>
		</section>
		<!-- end data-info -->

		<!-- start download -->
		<section id="download">
			<div class="container">
				<div class="row">
					<div class="col-md-5 wow fadeInLeft" data-wow-delay="0.6s">
						<h2 class="text-uppercase">App Features</h2>
						<h3 class="text-uppercase">Sound Classification</h3>
						<p>TThe practice of listening to and evaluating audio recordings is known
						 as audio categorization. This method, also known as sound categorization, is at
						  the core of a number of contemporary AI applications, such as text-to-speech 
						  software, virtual assistants, and automated voice recognition. </p>
						
					</div>
					<div class="col-md-7 wow fadeInRight" data-wow-delay="0.6s">
						<img src="/static/images/data_set.jpg" class="img-responsive" alt="feature img">
					</div>
				</div>
				<div class="row-feature2">
						<div class="col-md-5 wow fadeInLeft" data-wow-delay="0.6s">
					<h3 class="text-uppercase">Voice Recognition</h3>
						<p>The capacity of a machine or software to receive and interpret 
						dictation or to comprehend and execute spoken commands is known as 
						voice or speaker recognition. This technique is used to distinguish 
						between dangerous and non-dangerous voices and noises.
						</p>
						</div>
						<div class="col-md-7 wow fadeInRight" data-wow-delay="0.6s">
					
				</div>
			</div>
		</section>
		<!-- end download -->

		<!-- start contact -->
		<section id="contact">
			<div class="overlay">
				<div class="container">
					<div class="row">
						<div class="col-md-6 wow fadeInUp" data-wow-delay="0.6s">
							<h2 class="text-uppercase">Contact Us</h2>
							
							<address>
								<p><i class="fa fa-map-marker"></i>Colombo,Sri Lanka</p>
								
							</address>
						</div>
						<div class="col-md-6 wow fadeInUp" data-wow-delay="0.6s">
							<div class="contact-form">
								<form action="#" method="post">
									<div class="col-md-6">
										<input type="text" class="form-control" placeholder="Name">
									</div>
									<div class="col-md-6">
										<input type="email" class="form-control" placeholder="Email">
									</div>
									<div class="col-md-12">
										<input type="text" class="form-control" placeholder="Subject">
									</div>
									<div class="col-md-12">
										<textarea class="form-control" placeholder="Message" rows="4"></textarea>
									</div>
									<div class="col-md-8">
										<input type="submit" class="form-control text-uppercase" value="Send">
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- end contact -->

		<!-- start footer -->
		<footer>
			<div class="container">
				<div class="row">
					<p>Copyright © Sound Analyzer</p>
				</div>
			</div>
		</footer>
		<!-- end footer -->
        
		<script src="/static/js/jquery.js"></script>
		<script src="/static/js/bootstrap.min.js"></script>
		<script src="/static/js/wow.min.js"></script>
		<script src="/static/js/jquery.singlePageNav.min.js"></script>
		<script src="/static/js/custom.js"></script>
	</body>
</html>