<!doctype html>
<html lang="en">  

  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Sound Analyzer Response</title>
    <!-- jquery and plotly scripts -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Sound Analysis Report</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="https://www.police.lk/">SL Police</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://www.army.lk/">SL Army</a>
          </li>
        </ul>
      </div>
    </nav>
	
    <div class="container text-center">
    <div class="row">
      <div class="col-1"><div id="plot1-new">
            
      </div></div>

      <div class="col-8" style="padding-top: 30px;">
        
        <div id="plot2-new" style="padding-top: 10px;height:250px;overflow:auto;">
        {{ table|safe }}
      </div>
      <div>
     
     <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">User_id</th>
      <th scope="col">Translated Output</th>
   
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td> {{text}} </td>

    </tr>
    </tbody>
</table>
      </div>
     
     
    <div class="row2">
        
        <div class="col-4"><div id="plot2-r2"></div></div>
      </div>
    </div>
    
    

  </body>
  
</html>
